@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@keyframes waveAnimation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes textGradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Smooth scrolling sur l'entièreté du site */
html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: #444;
    background: #f9f9f9;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}

body::-webkit-scrollbar {
    /*display: none;*/
    width: 12px;
}

body::-webkit-scrollbar-track {
    background:  #1a1a1a;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #007bff, #00c853);    /* color of the scroll thumb */
    animation: gradientAnimation 10s ease infinite;
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid;  /* creates padding around scroll thumb */
}

/*##### HEADER SECTION #####*/

.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(45deg, #007bff, #00c853);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    z-index: 999;
    box-shadow: 0px 2px 3px #2d2d2d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: all 0.3s;
    font-size: 20px;
    color: #fff;
    font-family: cursive;
}

.top.shrink{
    height: 40px;
    font-size: 15px;

}

.top ul{
    list-style: none;
}

.top ul li a{
    margin: 0 50px;
}

.top ul li > a:hover{
    color: #000;
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    position: relative;
    width: 100%;
}

/*##### HERO SECTION #####*/
.hero {
    height: 100%;
    /* Credit image : Unsplash - Luke Chesser */
    background: url("https://source.unsplash.com/a2NRu2Wxa2o/");
    background-size: cover;
    background-position: center;
}
.hero .content {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.hero .content .header {
    position: absolute;
    top: 55%;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
    opacity: 0;
    font-family: 'Bruno Ace SC', cursive;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}
.hero .content .header h1 {
    color: #fff;
    font-size: 2.5em;
    text-shadow: 0px 2px 3px #2d2d2d;
    animation: waveAnimation 3s ease-in-out infinite;


}

/*##### ABOUT MYSELF SECTION #####*/
.about-myself {
    padding: 50px 20px;
}
.about-myself .content {
    text-align: center;
}
.about-myself .content h2 {
    color: #3d3d3d;
    font-size: 3em;
    margin-bottom: 50px;
    -webkit-transform: translateY(-50px) scale(0);
    transform: translateY(-50px) scale(0);
    -webkit-transition: transform 0.7s;
    -moz-transition: transform 0.7s;
    transition: transform 0.7s;
    font-weight: bold;
}
.about-myself .content .aboutTitleVisible {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateX(0px) scale(1);
}

.about-myself .content p{
    font-size: 1.2em;
}

.about-myself .content p span {
    color: #c0392b;
    font-weight: bold;
}

/*##### EXPERIENCE SECTION #####*/
.experience {
    background: #1a1a1a;
    padding: 50px 0;
    overflow-x: hidden;
}
.experience .content {
    text-align: center;
}
.experience .content h1 {
    font-size: 2em;
    color: #fff;
}
.experience .content ul {
    padding: 50px 0;
    list-style-type: none;
}
.experience .content ul li {
    background: #f9f9f9;
    position: relative;
    margin-left: 20px;
    width: 5px;
    padding-bottom: 40px;
}
.experience .content ul li:last-child {
    padding-bottom: 7px;
}
.experience .content ul li:before {
    content: "";
    background: #1a1a1a;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 4px solid #f9f9f9;
}
.experience .content ul li .hidden {
    opacity: 0;
    margin-left: 10vw;
}
.experience .content ul li .experience-content {
    background: #f9f9f9;
    position: relative;
    top: 7px;
    left: 48px;
    width: calc(100vw - 100px);
    padding: 20px;
    text-align: center;
    -webkit-border-radius: 0 5px 5px;
    -moz-border-radius: 0 5px 5px;
    border-radius: 0 5px 5px;
}
.experience .content ul li .experience-content h2 {
    font-size: 1.5em;
    color: #3c3c3c;
    padding-bottom: 10px;
}
.experience .content ul li .experience-content .experience-time {
    color: #777;
    font-size: 1.1em;
    padding-bottom: 10px;
}
.experience .content ul li .experience-content p {
    color: #1a1a1a;
    font-size: 0.95em;
}
.experience .content ul li .experience-content:before {
    content: "";
    background: #f9f9f9;
    position: absolute;
    top: 0;
    left: -35px;
    width: 35px;
    height: 5px;
}

/*##### SKILLS SECTION #####*/
.skills {
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*##### RESUME SECTION #####*/
.resume {
    background: #1a1a1a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.resume .content {
    background: rgba(0, 0, 0, 0.3);
    padding: 50px 0;
    text-align: center;
}
.resume .content a {
    color: #fff;
    text-transform: uppercase;
}
.resume .content a .btn-resume {
    display: inline-block;
    font-size: 1.1em;
    padding: 20px;
    margin: 0 15px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    border: 2px solid #fff;
    border-radius: 5px;
    overflow: hidden;
}
.resume .content a .btn-resume span {
    -webkit-transition: opacity 1.2s;
    -moz-transition: opacity 1.2s;
    transition: opacity 1.2s;
}
.resume .content a .btn-resume i {
    color: #fff;
    position: absolute;
    padding: 20px 0;
    top: -80px;
    width: 100%;
    left: 0;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    transition: top 0.5s;
}
.resume .content a .btn-resume:hover span {
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
.resume .content a .btn-resume:hover i {
    top: 0;
}

/*##### PORTFOLIO SECTION #####*/
.portfolio {
    background: #f9f9f9;
    padding: 80px 0;
}
.portfolio .content {
    text-align: center;
}
.portfolio .content h1 {
    color: #3c3c3c;
    font-size: 2em;
    margin-bottom: 50px;
}
.portfolio .content .projects {
    width: 100%;
}
.portfolio .content .projects .project {
    color: #fff;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    overflow: hidden;
}
.portfolio .content .projects .project:last-child {
    margin-bottom: 0;
}
.portfolio .content .projects .project .project-image img {
    width: 100%;
}
.portfolio .content .projects .project .project-title {
    color: #3c3c3c;
    padding: 10px 0;
}
.portfolio .content .projects .project .project-description {
    color: #444;
}

/* ############################
        FOOTER SECTION
 ############################ */
.footer {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    text-align: center;
}
.footer p {
    color: #777;
    font-size: 1.1em;
}
.footer i {
    color: #e74c3c;
}
.footer img{
    width: 50px;
    height: 50px;
    margin: 0;
}

/* ############################
        RESPONSIVE
############################### */
@media screen and (min-width: 480px) {
    .skills .content .tools-knowledge-wrapper .tools-wrapper,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper {
        width: 50%;
        float: left;
        padding: 0;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper ul,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper ul {
        margin-left: 0;
    }
    .skills .content .clear {
        clear: both;
    }
}
@media screen and (min-width: 640px) {
    .about-myself {
        padding: 100px 40px;
    }

    .skills {
        padding-left: 0;
        padding-right: 0;
    }
    .skills .content .development-wrapper {
        width: 600px;
        margin: auto;
        margin-bottom: 50px;
    }
    .skills .content .tools-knowledge-wrapper {
        width: 600px;
        margin: auto;
    }

    .contact .content .socials {
        width: 600px;
        margin: auto;
    }
}
@media screen and (min-width: 960px) {
    .experience .content ul li {
        margin: 0 auto;
    }
    .experience .content ul li .experience-content {
        width: 40vw;
    }
    .experience .content ul li:nth-child(odd) .experience-content {
        left: 63px;
    }
    .experience .content ul li:nth-child(odd) .experience-content:before {
        left: -50px;
        width: 50px;
    }
    .experience .content ul li:nth-child(even) .experience-content {
        left: calc(-40vw - 57px);
        -webkit-border-radius: 5px 0px 5px 5px;
        -moz-border-radius: 5px 0px 5px 5px;
        border-radius: 5px 0px 5px 5px;
    }
    .experience .content ul li:nth-child(even) .experience-content:before {
        left: auto;
        right: -50px;
        width: 50px;
    }
    .experience .content ul li:nth-child(odd) .hidden {
        margin-left: 10vw;
    }
    .experience .content ul li:nth-child(even) .hidden {
        margin-left: -10vw;
    }

    .skills {
        padding-left: 50px;
        padding-right: 50px;
    }
    .skills .content {
        max-width: 1100px;
        margin: auto;
    }
    .skills .content .development-wrapper,
    .skills .content .tools-knowledge-wrapper {
        float: left;
    }
    .skills .content .development-wrapper {
        margin-bottom: 0;
        width: 60%;
    }
    .skills .content .tools-knowledge-wrapper {
        width: 40%;
        margin-top: 60px;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper {
        float: none;
        margin: auto;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper {
        margin-bottom: 30px;
    }

    .portfolio .content .projects .project {
        position: relative;
        margin: auto;
        margin-bottom: 3%;
        width: 680px;
        height: 450px;
        overflow: hidden;
    }
    .portfolio .content .projects .project:hover .project-image {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    .portfolio .content .projects .project:hover .project-title, .portfolio .content .projects .project:hover .project-description {
        opacity: 1;
    }
    .portfolio .content .projects .project .project-image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        z-index: 3;
        overflow: hidden;
    }
    .portfolio .content .projects .project .project-image img {
        width: 100%;
        height: auto;
        min-height: 100%;
        min-width: 100%;
    }
    .portfolio .content .projects .project .project-title,
    .portfolio .content .projects .project .project-description {
        position: absolute;
        height: 50%;
        opacity: 0;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
        overflow: hidden;
    }
    .portfolio .content .projects .project .project-title {
        width: 50%;
        top: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        display: table;
    }
    .portfolio .content .projects .project .project-title h2 {
        font-size: 2em;
        text-decoration: underline;
        display: table-cell;
        vertical-align: middle;
    }
    .portfolio .content .projects .project .project-description {
        width: 100%;
        top: 50%;
        left: 0;
        padding: 25px 10px;
        text-align: left;
    }
}